Importing basic library

In [60]:
import pandas as pd
import numpy as np

In [61]:
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

Analyzing Data

In [62]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [63]:
df.shape

(5572, 2)

In [64]:
#checking for null value
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [65]:
# checking for duplicacy and removing it
df=df.drop_duplicates()
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5158 rows x 2 columns]

In [66]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4516   4516  Go until jurong point, crazy.. Available only ...
spam         642    642  Free entry in 2 a wkly comp to win FA Cup fina...


         freq
Category
ham         1
spam        1

Improving data for prediction

In [67]:
df["Message"]=df["Message"].str.lower() # lowercaseing the string for consistency

In [68]:
df["Message"]=df["Message"].str.strip() #whitespacing removing lstrip or rstrip

Encoding Dataset

In [69]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [70]:
df["Category"]=le.fit_transform(df["Category"])

In [71]:
df

      Category                                            Message
0            0  go until jurong point, crazy.. available only ...
1            0                      ok lar... joking wif u oni...
2            1  free entry in 2 a wkly comp to win fa cup fina...
3            0  u dun say so early hor... u c already then say...
4            0  nah i don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  this is the 2nd time we have tried 2 contact u...
5568         0               will ü b going to esplanade fr home?
5569         0  pity, * was in mood for that. so...any other s...
5570         0  the guy did some bitching but i acted like i'd...
5571         0                         rofl. its true to its name

[5158 rows x 2 columns]

Train and Split Dataet

In [72]:
x=df["Message"]
y=df["Category"]

In [73]:
x.shape

(5158,)

In [74]:
y.shape

(5158,)

In [75]:
from sklearn.feature_extraction.text import CountVectorizer
c=CountVectorizer()

In [76]:
x=cv.fit_transform(x)

In [81]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [82]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import BernoulliNB
# from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [87]:
 models=[RandomForestClassifier(n_estimators=20),BernoulliNB(),DecisionTreeClassifier(),SVC(),KNeighborsClassifier(n_neighbors=11),MultinomialNB()]

In [88]:
for model in models:
    model_name=model.__class__.__name__
    modet_fit=model.fit(x_train,y_train)
    model_accuracy=model.score(x_test,y_test)
    print(f"{model_name} - Accuracy: {model_accuracy:.4f}")

RandomForestClassifier - Accuracy: 0.9729
BernoulliNB - Accuracy: 0.9748
DecisionTreeClassifier - Accuracy: 0.9661
SVC - Accuracy: 0.9797
KNeighborsClassifier - Accuracy: 0.9012
MultinomialNB - Accuracy: 0.9758

In [91]:
model=BernoulliNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)
msg=["free you 20 lac"]
msg_transformed=cv.transform(msg)
prediction=model.predict(msg_transformed)
predicted_label=le.inverse_transform(prediction)
predicted_label

array(['ham'], dtype=object)